APP_PORT=PORT

DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=disability_system_db
DB_URL=postgres://user:password@localhost:5432/disability_system_db?sslmode=disable

JWT_SECRET=secret
