APP_PORT=PORT

DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASSWORD=password
DB_NAME=disability_system_db
DB_SSLMODE=disable

DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=10
DB_CONN_MAX_LIFETIME=5
DATABASE_URL=postgres://root:password@localhost:5432/disability_system_db?sslmode=disable

JWT_SECRET=secret
